.index {
  color: #d2d2d2;

  .post-year {
    font-size 20px;
    font-weight: bold;
    margin-top: 30px;

    .post-year-special {
      color #6d9ee7;

    }
  }


  .post-list {
    .post-list-item {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding 0 25px;
      line-height 30px;
    }
  }
}
