@import "_variables"
body {
  font-size: 14px;
  line-height: 1.5;
  background: #3a3e4a;
  color: #d2d2d2;
  font-family: "Menlo", "Meslo LG", monospace;
}

a {
  color: #d2d2d2;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #699be9;
  text-decoration: none;
}


.container {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  padding: 0;
}


.my-hr {
  border-color: #58606b;
  width: 650px;
}
@import "_partial/header";
@import "_partial/post";
@import "_partial/index.styl"
@import "_partial/highlight.styl"